#aboutBanner {
  background-image: url("/public/images/bcBuilding.png");
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px #383838;
}

#aboutBanner h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  color: darkorange;
  text-shadow: 2px 2px 4px black;
  margin-top: 50px;
}

#aboutContentArea {
  text-align: center;
  background-image: url("/public/images/brushedSteel.png");
  padding: 50px;
}

#missionSection {
  border-radius: 25px;
  background-color: rgba(50, 50, 50, 0.5);
  text-shadow: 2px 2px 4px #000000;
  padding: 25px 100px;
  box-shadow: 4px 4px 8px #383838;
}

#missionSection h3 {
  font-style: italic;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.aboutCard {
  box-shadow: 4px 4px 8px #3d3d3d;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 25px;
  border: none;
}

.aboutCardHeader {
  font-size: 40px;
  color: white;
  background-image: linear-gradient(to top, #ff8c00, #ff4500);
  font-weight: bold;
  text-align: center;
  padding: 15px !important;
  text-shadow: 2px 2px 3px #000000;
  border-radius: 25px 25px 0 0 !important;
  box-shadow: 0 2px 3px #383838;
}

.aboutCard .card-body {
  padding: 25px;
  color: white;
  font-size: 18px;
}

/* Media Queries */

@media (max-width: 1200px) {
  #aboutBanner {
    height: 40vh;
  }
  #aboutBanner h1 {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  #aboutBanner {
    height: 30vh;
  }
  #aboutBanner h1 {
    font-size: 50px;
  }
  #aboutContentArea {
    padding: 0 20px 20px 20px;
  }
  #missionSection {
    padding: 20px;
    border-radius: 0;
  }
  .aboutCard {
    margin: 20px !important;
  }
  .aboutCard .card-body {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  #aboutBanner {
    min-height: 30vh;
  }
  #aboutBanner h1 {
    font-size: 50px;
  }
  #aboutContentArea {
    padding: 0 10px 10px 10px;
  }
  #missionSection {
    padding: 10px;
    border-radius: 0;
  }
  .aboutCard {
    margin: 10px !important;
  }
  .aboutCard .card-body {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  #aboutBanner {
    min-height: 20vh;
  }
  #aboutBanner h1 {
    font-size: 40px;
  }
  #aboutContentArea {
    padding: 0 5px 5px 5px;
  }
  #missionSection {
    padding: 5px;
  }
  .aboutCard {
    margin: 5px !important;
  }
  .aboutCard .card-body {
    padding: 10px;
  }
}
