.banner {
  position: relative;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

#homeBanner {
  background-image: url("/public/images/mower_03.jpg");
  box-shadow: 2px 2px 5px #383838;
}

#homeLogo {
  height: 30%;
  width: 30%;
  display: block;
  margin: auto;
}

#bannerMotto {
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-top: 45px;
  font-style: italic;
  text-shadow: 2px 2px 4px #000000;
}

#bannerSub {
  color: turquoise;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

#homeContainer {
  background-image: url("/public/images/brushedSteel.png");
}

.homeCards {
  box-shadow: 2px 2px 7px #383838 !important;
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

.homeCards .card-body button {
  background-color: rgb(1, 150, 150);
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.homeCards .card-body .dropdown {
  text-align: center;
}

#partsIcon {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.card-title {
  font-size: 30px;
  color: orange;
  font-weight: bold;
  text-align: center;
}

#servicesIcon {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

#servicesDropdown {
  background-color: rgb(53, 189, 175);
  color: white;
  margin-top: 15px;
  padding: 15px;
  box-shadow: 2px 2px 5px #3b3b3b;
}

#servicesDropdown:hover {
  background-color: turquoise;
}

/* Media Queries */

@media (width >= 1000px) {
}

@media (max-width: 768px) {
  #homeLogo {
    height: 80%;
    width: 80%;
  }

  .card {
    border: none;
    box-shadow: none;
    background-color: white;
    margin-bottom: 15px;
  }

  #parts {
    margin-top: 45px;
  }
}
