.banner {
  position: relative;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

#homeBanner {
  background-image: url("/public/images/mower_03.jpg");
  box-shadow: 2px 2px 5px #383838;
}

#homeLogo {
  height: 30%;
  width: 30%;
  display: block;
  margin: auto;
}

#bannerMotto {
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-top: 45px;
  font-style: italic;
  text-shadow: 2px 2px 4px #000000;
}

#bannerSub {
  color: turquoise;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

#homeContainer {
  background-image: url("/public/images/brushedSteel.png");
}

.homeCards {
  box-shadow: 2px 2px 7px #383838 !important;
  background-color: transparent;
}

.homeCards .card-header {
  background-image: linear-gradient(to top, #ff8c00, #ff4500);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.homeCards .card-body {
  background-color: transparent;
  padding: 25px;
}

.homeCards .card-body button {
  background-color: rgb(1, 150, 150) !important;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.homeCards .card-body .dropdown {
  text-align: center;
}

#partsIcon,
#servicesIcon,
#couponIcon {
  height: 250px;
  width: 250px;
  display: block;
  margin: auto;
}

.card-title {
  font-size: 30px;
  color: orange;
  font-weight: bold;
  text-align: center;
}

#servicesDropdown {
  background-color: rgb(53, 189, 175);
  color: white;
  font-size: 20px;
  padding: 15px 20px;
  box-shadow: 2px 2px 5px #3b3b3b;
}

#servicesDropdown:hover {
  background-color: turquoise !important;
}

/* Coupon Section */

#couponTitle {
  color: orange;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#couponNote {
  color: grey;
  font-size: 12px;
}

#loggedOutCouponBody {
  text-align: center;
}

#loggedOutCouponBody .btn {
  background-color: rgb(1, 150, 150) !important;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 65px;
  box-shadow: 2px 2px 5px #3b3b3b;
}

#loggedOutCouponBody .btn:hover {
  background-color: turquoise !important;
}

/* Media Queries */

@media (max-width: 992px) {
  #homeLogo {
    height: 50%;
    width: 50%;
  }

  .banner {
    min-height: 40vh;
  }
}

@media (max-width: 768px) {
  #homeLogo {
    height: 70%;
    width: 70%;
  }

  .banner {
    min-height: 30vh;
  }

  .homeCards {
    margin: auto;
  }

  #bannerMotto {
    font-size: 30px;
  }
}
