nav {
  background-image: linear-gradient(to top, #ff8c00, #ff4500);
  width: 100%;
  text-align: center;
  align-items: center;
}

nav img {
  height: 40px;
  width: 40px;
  margin: 0 5px;
}

.navbar-brand {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

ul {
  width: 100%;
  margin-right: 10px;
  justify-content: end;
  text-align: center;
}

.nav-link {
  color: white;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: rgb(1, 150, 150);
  color: white;
  text-decoration: none;
}

.navbar-toggler {
  background-image: linear-gradient(to top, aqua, rgb(49, 185, 172));
  margin: 0 auto;
  box-shadow: 2px 2px 4px #000000;
}

.dropdown-toggle {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.dropdown-toggle:hover {
  background-color: rgb(1, 150, 150);
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ff8c00;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
}

.dropdown-menu a:hover {
  background-color: rgb(1, 150, 150);
  color: white;
  text-decoration: none;
}

.dropdown-item {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
}
